/* theme: tokyo-night-float */
* {
    th-bg:            rgba(26, 27, 38, 88%);
    th-fg:            rgb(122, 162, 247);
    th-fg-selected:   rgba(192, 202, 245, 100%);
    th-row-alt:       rgba(41, 46, 66, 40%);
    th-row-selected:  rgba(47, 53, 73, 0.88);
    th-border-color:  rgba(59, 66, 97, 0.65);
    th-separator:     rgba(86, 95, 137, 0.52);
}
